*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
nav li{
	margin-top: 20px;
	float:left;
	list-style: none;
	font-size: 20px;
	font-weight: bold;
}
nav ul li a{
	color:white;
	text-decoration: none;
}
nav ul li a:hover{
	color:white;
}
h4 a{
	color:black;
}
h4 a:hover{
	color:black;
}
.Kittpad{
	padding-left: 5px;
}
.category{
	padding-left: 30px;
	width:150px;
}
.crear{
	padding-left: 30px;
}
.comunidad{
	padding-left: 30px;
	width:160px;
}

.wrapper{
	margin:0 auto;
}
.first{
	margin: 0 auto;
	height:70px;
	width:100%;
	background-color: orange;
}
.SearchBar{
	padding-left: 30px;
	padding-right: -10px;
}
nav li select{
	outline:none;
	border:none;
	background-color: orange;
	color:white;
	font-weight: bold;
}
.SearchBar input{
    height: 30px;
    width: 500px;
}
.Perfil{
	padding-left: 200px;
}
#lupita{
	width:22px;
	height:22px;
	background-color: white;
	padding-left: 0;
}
#category{
	background-color: white;
	color:black;
}
#button{
	width:28px;
	height:28px;
	background: white;
	padding-left: -10px;

}
